# Dependencias
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/
next-env.d.ts

# Entorno
.env
.env.local
.env.*.local

# Prisma
prisma/*.db

# Testing
coverage/
playwright-report/
test-results/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Vercel
.vercel
